# Overrides

### Foreman
foreman_hostname: foreman
foreman_subdomain: example.org

foreman_provisioning_password: changeme
foreman_admin_password: changeme

#foreman_dns_interface: (this is pulled from ansible facts by default)

#fedora_content_mirror: "dl.fedoraproject.org/fedora-alt"


### Openshift
openshift_ansible_dir: /usr/share/ansible/openshift-ansible
