# You will need to fill in a hostname for your foreman host
[foreman]

# Leave these groups blank, they will be populated by the nodes that register with foreman
[masters]

[masters:children]
foreman_hostgroup_openshift_nodes_openshift_master

[foreman_hostgroup_openshift_nodes_openshift_master]

[nodes]

[nodes:children]
foreman_hostgroup_openshift_nodes

[foreman_hostgroup_openshift_nodes]

[OSEv3:children]
masters
nodes
