---
title: "{{ homer_title }}"
subtitle: "{{ homer_subtitle }}"

{% if homer_logo is defined %}
logo: "{{ homer_logo }}"
{% endif %}
{% if homer_logo is not defined %}
icon: "{{ homer_icon }}"
{% endif %}

header: {{ homer_show_header }}
footer: {{ homer_footer }}

columns: "{{ homer_columns }}"
connectivityCheck: {{ homer_display_connectivity }}

theme: "{{ homer_theme }}"

colors: {{ homer_colors | to_json }}

message: {{ homer_message | to_json }}

links: {{ homer_links | to_json }}

services: {{ homer_services | to_json }}
